body,
html {
  height: 100%;
}

.login-head {
  height: 45px;
  background: #F7882F 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
  opacity: 1;
}

.profile-head {
  height: 45px;
  background: #F7882F 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
  opacity: 1;
}

.profile-head h3 {
  font-size: 20px;
  padding-top: 10px;
  text-align: left;
  font: Medium 36px/55px Poppins;
  color: #FFFFFF;
  opacity: 1;
}

.login-head h3 {
  font-size: 20px;
  padding-top: 10px;
  text-align: left;
  font: Medium 36px/55px Poppins;
  letter-spacing: 3.6px;
  color: #FFFFFF;
  opacity: 1;
}

.login-body {
  background: #6B7A8F 0% 0% no-repeat padding-box;
  opacity: 0.9;
  border-radius: 0px 0px 20px 20px;
}

#login-button {
  background-color: #F7882F;
}

.bg {
  background-image: url("./images/AdobeStock_80804574.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-bg {
  background-image: url("./images/AdobeStock_50213958.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  background: #F7882F 0% 0% no-repeat padding-box;
  position: fixed;
  color: white
}

#bloom {
  color: #dcc6aa
}

#logo {
  font-family: 'Berkshire Swash',
    cursive;
  font-size: 36px;
  color: white;
}

#ingredient-card {
  background-color: #f0f0f0
}

.card-title {
  font: Bold 24px/14px Poppins;
  line-height: 1.2;
  letter-spacing: 0;
}

.card-subtitle {
  font: italic 14px Poppins;
  margin-top: 3px;
}

.card-body {
  font-family: Poppins;
}

.card-button {
  background-color: #F7882F;
  color: white;
  font: Bold 14px Poppins;
  margin-bottom: 6px;
  border: none;
  text-align: left
}

#map-icon {
  margin-right: 6px
}

#fav-icon {
  margin-right: 6px
}

.mt-10 {
  margin-top: 90px
}

.headline {
  font-family: 'Abril Fatface',
    serif;
  ;
  font-weight: 900;
  font-size: 64px
}

#market-map {
  height: 400px
}

.market-list-item {
  background-color: #dcc6aa;
  margin-bottom: 12px;
  margin-right: 12px;
  padding: 12px
}

.market-title {
  font: Bold 24px/14px Poppins;
  line-height: 1.2;
}

.recipe-table {
  opacity: 0.95
}

.bg-recipe {
  background-image: url("./images/cookingAtHome.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .bg-profile {
    background-image: url('./images/farm-market-shopper.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .profile-body {
    background: #6B7A8F 0% 0% no-repeat padding-box;
    opacity: 1.0;
    border-radius: 0px 0px 20px 20px;
    padding: 12px;
    color: white;
    font-weight: 600
  }